* {
  font-family: "Montserrat", sans-serif;
}

body {
  height: 97vh;
  background-color: #0054a8;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-function {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.js-clock h1 {
  font-size: 100px;
  margin: 0px;
}

.form,
.greetings {
  display: none;
  margin: 30px;
}

.showing {
  display: block;
}

.js-form input {
  border-bottom: 5px solid white;
  background-color: transparent;
  text-align: center;
  font-size: 30px;
  color: white;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  padding-bottom: 10px;
}

.js-form input::placeholder {
  color: white;
}

.js-form input:focus {
  outline: none;
}

.greetings {
  font-size: 40px;
}

.js-toDoForm input {
  border-bottom: 5px solid white;
  background-color: transparent;
  text-align: center;
  font-size: 30px;
  color: white;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  padding-bottom: 10px;
}

.js-toDoForm input::placeholder {
  color: white;
}

.js-toDoForm input:focus {
  outline: none;
}

.js-toDoList {
  display: flex;
  flex-direction: column;
}

.js-toDoList li {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.js-toDoList span {
  margin-left: 20px;
  font-size: 20px;
}

.js-weather {
  margin-top: 30px;
  font-size: 15px;
}

.btn {
  cursor: pointer;
}

.clicked {
  color: #7f8c8d;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
